@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap");

/* fix for framer motion overflow causing a bug on projects page */
#__next {
  overflow-x: hidden;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fff;
  color: #2d2d3c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  -moz-font-feature-settings: "kern";
  direction: ltr;
  text-align: left;
  letter-spacing: -0.025em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-title {
  color: transparent;
  background: linear-gradient(
    91.36deg,
    #ffe588 0%,
    #f391a6 13.02%,
    #e188c3 25.52%,
    #a58de3 37.5%,
    #56abec 49.48%,
    #79b7ff 63.02%,
    #c8638c 72.92%,
    #e85163 84.38%,
    #df6c51 97.92%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-animation: intro-gradient 10s infinite ease both;
  -moz-animation: intro-gradient 10s infinite ease both;
  animation: intro-gradient 10s infinite ease both;
}

@-webkit-keyframes intro-gradient {
  0% {
    background-position: 0% 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position: 0% 4%;
  }
}
@-moz-keyframes intro-gradient {
  0% {
    background-position: 0% 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position: 0% 4%;
  }
}
@keyframes intro-gradient {
  0% {
    background-position: 0% 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position: 0% 4%;
  }
}

.dark .dark\:grad-text {
  background: radial-gradient(
    #f5f5f7,
    #e1e6eb,
    rgba(213, 226, 232, 0.95),
    #f5f5f7
  );
  background-size: 100% 200%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 16px;
  padding-bottom: 12px;
}
